{% extends "base.html" %}
{% block conteudo %}

</head>
<body>

    <h1 style="text-align: center;">Adivinhe o Escudo</h1>
    <img id="escudo" src="{{escudo}}" alt="escudo borrado">
    <br>
    <div style="text-align: center;">
        <input type="text" id="palpite" name="valor" placeholder="Digite seu palpite">
        <button onclick="verificarPalpite()">Verificar</button>
    </div>
    <p style="text-align: center;" id="feedback"></p>

    <div class="button-container">
        <button onclick="novoTime()">Novo time</button>
    </div>

<script>
    var nomeTime = "{{ nome_time }}";
    var escudo = document.getElementById("escudo")
    var valorcss ; 
    var calculocss;
    var contadorTentativas = 0;

    function verificarPalpite() {
        var palpite = document.getElementById("palpite").value;
        var feedback = document.getElementById("feedback");

        if (palpite.toLowerCase() === nomeTime.toLowerCase()) {
            feedback.innerHTML = "Parabéns! Você acertou o escudo do " + nomeTime + ".";
            feedback.style.color = "green";
            escudo.style.filter = "none";
            document.getElementById("palpite").disabled = true;
            document.getElementsByTagName("button")[0].disabled = true;
            document.getElementsByTagName("button")[1].disabled = false; // Habilita o botão "Novo time"
        } else {
            contadorTentativas++;
            feedback.innerHTML = "Palpite incorreto. Tente novamente: " + contadorTentativas + " tentativas.";
            if(contadorTentativas === 5){
                escudo.style.filter = "blur(5px)";
                
            }
            if (contadorTentativas === 10) {
                feedback.innerHTML += " Limite de tentativas atingido o nome do time é "+ nomeTime + ".";
                feedback.style.color = "red";
                escudo.style.filter = "none";
                document.getElementById("palpite").disabled = true;
                document.getElementsByTagName("button")[0].disabled = true;
                document.getElementsByTagName("button")[1].disabled = false; // Habilita o botão "Novo time"
            }
        }
    }

    function novoTime() {
        location.reload(); // Atualiza a página
    }
</script>

{% endblock conteudo %}
