{% extends "base.html" %}
{% block conteudo %}
</head>
<body>

    <h1 style="text-align: center;">Adivinhe o Escudo</h1>
    <h3 style="text-align: center;">Pontuação: <input name="ponto_str" id="pontos_alert" value=""></h3>
    <div  style="text-align: center;" id="feedback"></div>
    <img id="escudo" class="escudo-borrado" src="{{escudo}}" alt="escudo borrado">
    <br>
    <div style="text-align: center;">
        <input type="text" id="palpite" name="valor" placeholder="Digite seu palpite">
        <button onclick="verificarPalpite()" id="btn-verificar" >Verificar</button>
    </div>

    <div class="button-container">
        <button onclick="novoTime()" id="novoTimeBtn" disabled>Novo time</button>
    </div>

    <div class="table-container">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
            Adicionar Jogador
        </button>
        
        <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Adicionar Jogador</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{{url_for('tabela')}}" method="POST" class="form-control">
                            <label for="nomeInput" class="form-label">Nome</label>
                            <input type="text" class="form-control" id="nomeInput" name="nome_str" placeholder="Digite seu nome..." required>
                            <button  c  lass="btn btn-success">Adicionar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        <table class="table table-bordered table-hover">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Pontos</th>
                    </tr>
                </thead>
                <tbody>
                    {% for jogador in jogadores %}
                    <tr>
                        <td>{{ jogador.nome }}</td>
                        <td>{{ jogador.pt }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        
    </div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js"></script>
<script>
    var nomeTime = "{{ nome_time }}";
    var escudo = document.getElementById("escudo");
    var pontoTotalElement = document.getElementById("pontoTotal");
    var btn_verificar = document.getElementById("btn-verificar");
    var contadorTentativas = 0;
    var pontos = 0;

    function exibirAlerta() {
        var nome = document.getElementById("nomeInput").value;
        zeraPontos();
        return false; // Retorne false para evitar que o formulário seja enviado
    }
    function zeraPontos(){
        pontos = 0;
        atualizarPontos();
    }
    function getPontos() {
        var pontosStr = localStorage.getItem('pontos');
        return pontosStr ? parseInt(pontosStr) : pontos;
    }

    function atualizarPontos() {
        localStorage.setItem('pontos', pontos.toString());
        var pontosJogadorElement = document.getElementById("pontos_alert")
        pontosJogadorElement.disabled = true;
        var pt_str = pontos.toString()
        pontosJogadorElement.value = pt_str;
        
    }

    function atualizarEscudo() {
        $.ajax({
            url: "/obter_nova_imagem",
            success: function(data) {
                $("#escudo").attr("src", data.escudo);
                nomeTime = data.nome;
                $("#escudo").addClass("escudo-borrado"); // Adiciona a classe de desfoque ao escudo
            },
            error: function() {
                console.log("Erro ao obter nova imagem do escudo.");
            }
        });
    }

    function verificarPalpite() {
        var palpite = document.getElementById("palpite").value;
        var feedback = document.getElementById("feedback");

        if (palpite.toLowerCase() === nomeTime.toLowerCase()) {
            pontos += 3;
            getPontos();
            feedback.innerHTML = "Parabéns! Você acertou o escudo do " + nomeTime + ". Pontos: " + pontos;
            feedback.style.color = "green";
            escudo.style.filter = "none";
            document.getElementById("palpite").disabled = true;
            document.getElementById("novoTimeBtn").disabled = false;
            document.getElementById("btn-verificar").disabled = true
        } else {
            contadorTentativas++;
            feedback.innerHTML = "Palpite incorreto. Tente novamente: " + contadorTentativas + " tentativas.";
            if (contadorTentativas === 2) {
                escudo.style.filter = " blur(5px)";
            }
            if (contadorTentativas === 3) {
                pontos -= 3;
                feedback.innerHTML += " Limite de tentativas atingido. O nome do time é " + nomeTime + ". Seus Pontos: " + pontos;
                feedback.style.color = "red";
                escudo.style.filter = "none";
                document.getElementById("palpite").disabled = true;
                document.getElementById("novoTimeBtn").disabled = false;
                document.getElementById("btn-verificar").disabled = true
            }
        }

        atualizarPontos();
        
        if (contadorTentativas === 10) {
            contadorTentativas = 0;
        }
    }

    function novoTime() {
        contadorTentativas = 0;
        document.getElementById("palpite").value = "";
        document.getElementById("feedback").innerHTML = "";
        escudo.style.filter = "blur(10px)";
        document.getElementById("palpite").disabled = false;
        document.getElementById("novoTimeBtn").disabled = true;
        document.getElementById("btn-verificar").disabled = false
        atualizarEscudo();
    }

    $(document).ready(function() {
        pontos = getPontos();
        atualizarPontos();
        atualizarEscudo();
    });
</script>

{% endblock conteudo %}
